body.cvpage .page__sidebar,
body.cvpage .sidebar,
body.cvpage .sidebar__right,
body.cvpage .author__avatar,
body.cvpage .author__content,
body.cvpage .author__urls-wrapper {
  display: none !important;
}

body.cvpage #main,
body.cvpage .page__inner-wrap,
body.cvpage .page__content {
  max-width: none !important;
  width: 100% !important;
  margin: 1rem !important;
  padding: 0 !important;
}

@media (min-width: 64em) {
  body.cvpage .page {
    float: none !important;
    width: 100% !important;
    padding-inline-end: 0 !important;
  }
}

body.cvpage .page__content img {
  display: block;
  flex: 1 1 45%;
  width: auto !important;
  max-width: 100% !important;
  height: auto;
  margin: 0 auto 1rem !important;
  border-radius: 0;
  box-shadow: none;
  object-fit: contain;
  box-sizing: border-box;
}

body.cvpage .page__content img.soft-shadow {
  box-shadow: 0 0 12px rgba(0, 0, 0, .15);
  border-radius: 6px;
}

@media (max-width: 1024px) {
  body.cvpage .page__inner-wrap,
  body.cvpage .page__content {
    padding-left: .1rem !important;
    padding-right: .1rem !important;
    overflow-x: hidden;
  }
}

body.cvpage .initial-content,
body.cvpage .page__container {
  max-width: none !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
